<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!--fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <!-- css Pushbar -->
    <link rel="stylesheet" href="css/pushbar.css" />

    <!-- css propio -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container-fluid d-flex h-100 flex-column">
      <div class="row flex-grow-1">
        <div id="mapa" class="col-8 portlet-container">
          <button class="btn-menu" data-pushbar-target="pushbar-menu">
            <i class="fas fa-bars fa-2x"></i>
          </button>
          <div
            data-pushbar-id="pushbar-menu"
            class="pushbar from_left pushbar-menu"
          >
            <div class="btn-cerrar">
              <button data-pushbar-close>
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="itemLista">
              <a href="http://localhost:3000/map" class="letrasBlancas">
                <i class="fas fa-home "> Mapa</i>
              </a>
            </div>
            <div class="itemLista">
              <a href="http://localhost:3000/deleteButton" class="letrasBlancas"
                ><i class="fas fa-trash "> Borrar</i></a
              >
            </div>

            <div class="itemLista" class="letrasBlancas">
              <a href="http://localhost:3000/addMap" class="letrasBlancas"
                ><i class="fas fa-image"> Añadir imagen fondo</i></a
              >
            </div>
          </div>
        </div>
        <div class="col-4 portlet-container">
          <div class="form-group">
            <input
              type="text"
              id="ubicacion"
              class="form-control"
              placeholder="Nombre de la ubicacion de la camara"
            />
            <input
              type="text"
              id="stream"
              class="form-control"
              placeholder="ruta del stream de la camara"
            />
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- JS de jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- JS de Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

  <!-- JS de propio base -->
  <script src="base.js"></script>

  <!-- JS de Pushbar -->
  <script src="pushbar.js"></script>

  <script>
    var pushbar = new Pushbar({
      blur: true,
      overlay: true
    });
  </script>

  <!-- JS de propio -->
  <script src="addButton.js"></script>
</html>
