<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />

    <!--fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    
  </head>
  <body background="img/asdsd.png">
    <form action="/imagenes" method="post" enctype="multipart/form-data">
      Select image to upload:
      <input type="file" name="productImage" id="fileToUpload" />
      <input type="submit" value="Upload Image" name="submit" />
    </form>

    <input type="file" src="/img" onchange="previewFile(this);" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="addMap.js"></script>
  </body>
</html>
