<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />

    <!--fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <!-- css Pushbar -->
    <link rel="stylesheet" href="css/pushbar.css" />

    <!-- css propio -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      <button class="btn-menu" data-pushbar-target="pushbar-menu">
        <i class="fas fa-bars fa-2x"></i>
      </button>
    </div>
    <div data-pushbar-id="pushbar-menu" class="pushbar from_left pushbar-menu">
      <div class="btn-cerrar">
        <button data-pushbar-close><i class="fas fa-times"></i></button>
      </div>

      <div class="itemLista">
        <a href="/addButton" class="letrasBlancas"
          ><i class="fas fa-plus"> Añadir boton</i></a
        >
      </div>

      <div class="itemLista" class="letrasBlancas">
        <a href="/deleteButton" class="letrasBlancas"
          ><i class="fas fa-trash"> Borrar</i></a
        >
      </div>

      <div class="itemLista">
        <a href="/map" class="letrasBlancas">
          <i class="fas fa-home "> Mapa</i>
        </a>
      </div>
    </div>
    <form
      action="/addMap"
      class="letrasBlancas"
      method="post"
      enctype="multipart/form-data"
    >
      Select image to upload:
      <input
        type="file"
        class="letrasBlancas"
        name="productImage"
        id="fileToUpload"
      />
      <input type="submit" value="Upload Image" name="submit" />
    </form>

    <!-- JS de jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- JS de jQueryUI-->
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
      crossorigin="anonymous"
    ></script>

    <!-- JS de Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

    <!-- JS de Pushbar -->
    <script src="pushbar.js"></script>

    <script>
      var pushbar = new Pushbar({
        blur: true,
        overlay: true
      });
    </script>

    <!-- JS de propio base -->
    <script src="base.js"></script>

    <!-- JS de propio -->
    <script src="addMap.js"></script>
  </body>
</html>
