body {
	position: relative;
}

.image-wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
    opacity: 1;
}

.image-wrapper.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.btn-circle{
	border-radius: 100%/66%;}

.letrasBlancas{
	color: white;
}

.pushbar{
	background-color: black;
	color: white;
	padding: 20px;
}

.pushbar .btn-cerrar{
	text-align: right;
}

.itemLista{
	padding: 10px;
}